@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/fundo_halter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    margin: auto;
    padding: 20px;
    gap: 20px;
    background: #B2BEBF;
    color: #3B3936;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    font-size: 20px;
}

input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px #000;
    background: #D9D9D9;
    font-size: 16px;
}

input[name=logar],
input[name=cadastrar]{
    width: 90px;
    cursor: pointer;
    background: #486966;
    color: #D9D9D9;
    transition: .8s;
    box-shadow: 0 0 2px #D9D9D9, 0 0 8px #486966;
    font-weight: 500;
}

input[name=logar]:hover,
input[name=cadastrar]:hover{
    background: #D9D9D9;
    color: #486966;
    box-shadow: 0 0 2px #354e4c, 0 0 8px #405e5b, 0 0 12px #415f5d, 0 0 16px #486966;
}

section p{
    font-size: 14px;
}

a{
    color: #486966;
    cursor: pointer;
}